---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Impressum"
    description="Physiotherapie Praxis Gerlinde Kozalla in Meldorf"
>
    <section class="wrapper">
        <h1>Impressum</h1>

        <div>
            <div class="wpb_wrapper">
                <h2>Angaben gemäß § 5 DDG</h2>
                <p>
                    Physiotherapie Gerlinde Kozalla<br />
                    Seehundsbank 3<br />
                    25704 Meldorf
                </p>
                <p>
                    <strong>Vertreten durch:</strong><br />
                    Gerlinde Kozalla
                </p>
                <h2>Kontakt</h2>
                <p>
                    Telefon: 04832 9273<br />
                    E-Mail: physio.kozalla@yahoo.de
                </p>
                <h2>Redaktionell verantwortlich</h2>
                <p>
                    Gerlinde Kozalla<br />
                    Seehundsbank 3<br />
                    25704 Meldorf
                </p>
                <h2>EU-Streitschlichtung</h2>
                <p>
                    Die Europäische Kommission stellt eine Plattform zur
                    Online-Streitbeilegung (OS) bereit: <a
                        href="https://ec.europa.eu/consumers/odr/"
                        target="_blank"
                        rel="noopener noreferrer"
                        >https://ec.europa.eu/consumers/odr/</a
                    >.<br />
                    Unsere E-Mail-Adresse finden Sie oben im Impressum.
                </p>
                <h2>
                    Verbraucher­streit­beilegung/Universal­schlichtungs­stelle
                </h2>
                <p>
                    Wir sind nicht bereit oder verpflichtet, an
                    Streitbeilegungsverfahren vor einer
                    Verbraucherschlichtungsstelle teilzunehmen.
                </p>
            </div>
        </div>

        <style>
            .wrapper {
                padding: 20px;
            }

            h1 {
                font-size: 2em;
                margin-bottom: 20px;
            }

            h2 {
                font-size: 1.5em;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 10px;
            }

            a {
                color: #007bff;
            }
        </style>
    </section>
</BaseLayout>
